accelerate==1.8.1
groq==0.30.0
openai
streamlit==1.37.0
tokenizers
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.53.1
wandb==0.19.7
widgetsnbextension==4.0.13
